@font-face {
font-family: "EASPORTS";
src: url("fonts/EASPORTS.ttf");
}

body {
  font-family: "Poppins", sans-serif;
  background: url("./images/fifa.jpg");
}

h1, h2, h3 {
  font-family: "EASPORTS";
}

#heading {
  font-size: 2.5em;
  padding-bottom: 12px;
  border-bottom: 2px solid black;
}

#players-heading{
  text-align: center;
}

#form-wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom:12px;
  border-bottom: 2px solid black;
}

.form-item{
  margin:1px;
}

#players div {
  border: 2px solid black;
  padding: 10px;
  box-shadow: 4px 4px 2px grey;
  margin-left:110px;
  margin-bottom: 50px;
  background-color: #fae041;
  color: black;
  /* display:flex; */
  flex-basis: 18%;
  justify-content: center;
}

#players{
  display:flex;
  flex-wrap: wrap;
  /* flex-grow:1; */
}

.buttons{
    border:0px none;
    border-radius: 3%;
    padding: 5px 5px;
    color: #d1d1d1;
    background-color: green;
    cursor:pointer;
  }

.buttons:hover{
  background-color: darkgreen;
}


#delete-all {
  background-color: #a31515;
}
#delete-all:hover{
  background-color: darkred;
}
